# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
*.log

# =========================
# Build / distribution
# =========================
build/
dist/
*.egg-info/
cicids2017/

# =========================
# Caches / tooling
# =========================
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# =========================
# IDEs / editors
# =========================
.vscode/
.idea/
*.swp

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# FastAPI / Uvicorn
# =========================
*.pid

# =========================
# Jupyter (if ever used)
# =========================
.ipynb_checkpoints/
